<div class='content'>
<div class='card'>
    <% @shopping_list_items.each do |item| %>
      <%= link_to item.name, toggle_item_path(item), class: "btn btn-block #{item.need ? 'btn-negative' : 'btn-positive'}", method: :get %>
    <% end %>
</div>
</div>