// Place all the styles related to the ShoppingListItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.card {
  & a, a:hover, a:visited {
    color: #000;
  }
}

.my-button {
  background-color: #FF9494;
  border: 1px solid #FF9494;
}
